#<<<<<<< agent-praneepa
#=======
#<<<<<<< agent-savindi
#>>>>>>> main
# FastAPI & Server
fastapi
uvicorn[standard]

# Database
sqlalchemy
pydantic
python-dotenv

# HTTP & Async
httpx
aiohttp

# Auth
authlib
google-auth
google-auth-oauthlib
passlib[bcrypt]

# Gemini API
google-generativeai

# NLP & ML
spacy
transformers


scikit-learn
faiss-cpu

#<<<<<<< agent-praneepa
#=======
#=======
# FastAPI
uvicorn[standard]
fastapi[all]
# MongoDB
motor
pydantic
# OpenAI
openai
langchain
# NLP
spacy
transformers
# Information Retrieval
faiss-cpu
scikit-learn
# Auth
authlib
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests
aiohttp
#WebSockets
websockets
#>>>>>>> main
#>>>>>>> main
