# FastAPI
uvicorn[standard]
fastapi[all]
# MongoDB
motor
pydantic
# OpenAI
openai
langchain
# NLP
spacy
transformers
# Information Retrieval
faiss-cpu
scikit-learn
# Auth
authlib
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests
aiohttp
#WebSockets
websockets
